@model NotesMarketPlace.Models.ForgotPassword

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Forgot Password</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/bootstrap/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/FrontContent/css/style.css">

    <style>
        .form-error {
            color: red;
        }
    </style>

</head>

<body>


    <section id="forgot-password-page" class="bg">

        <div class="container">

            <div class="row justify-content-center" id="top-logo">

                <img src="~/Content/FrontContent/images/pre-login/top-logo.png" alt="">

            </div>

            <div class="row justify-content-center">

                @using (Html.BeginForm("ForgotPassword", "SignUp", FormMethod.Post, new { @class = "form-container", @id = "forgot-password-container" }))
                {
                    //<form class="form-container" id="forgot-password-container">
                    @Html.AntiForgeryToken()

                    <div class="login-heading">

                        <h2>Forgot Password ?</h2>
                        <p>Enter your email to reset your password</p>
                        @if (TempData["Success"] != null)
                        {
                            <h4 class="success-message"><i class="fa fa-check-circle"></i> @TempData["Success"]</h4>
                        }

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="label-text">Email</label>
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "form-error" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control label-text input-field", @id = "exampleInputEmail1", @placeholder = "Enter email" })

                    </div>

                    <button type="submit" class="btn btn-block login-button" id="forgot-password-submit">SUBMIT</button>


                    //</form>
                }

            </div>

        </div>

    </section>

    <!-- JQuery -->
    <script src="~/Scripts/FrontJs/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/FrontJs/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/FrontJs/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>