@{

    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/NavbarAfter.cshtml";

}
<!-- User Profile Image -->
<div class="container-fluid banner">

    <div class="row justify-content-center">

        <div id="faq-text">

            <h2>Frequently Asked Questions</h2>

        </div>

    </div>

</div>


<!-- FAQ Container -->


<div class="container" id="faq-container">

    <div class="row">

        <div class="col">

            <h2>General Questions</h2>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-12">

            <button class="accordion"><b>What is MarketPlace-Notes?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <br>

        </div>

        <div class="col-md-12">

            <button class="accordion"><b>What do the Univercity say?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <br>

        </div>

        <div class="col-md-12">

            <button class="accordion"><b>Is this legal?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>

    </div>

    <br>
    <br>

    <div class="row">

        <div class="col">

            <h2>Uploaders</h2>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-12">

            <button class="accordion"><b>What can't I sell?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <br>

        </div>

        <div class="col-md-12">

            <button class="accordion"><b>What notes can I sell?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>

    </div>

    <br>
    <br>

    <div class="row">

        <div class="col">

            <h2>Downloaders</h2>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-12">

            <button class="accordion"><b>How do I buy notes?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <br>

        </div>

        <div class="col-md-12">

            <button class="accordion"><b>Can I edit the notes I purchased?</b></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>

    </div>


</div>


<!-- FAQ Container END -->