body, html {
    height: 100%;
}

/* ====================
        Dashboard
   ==================== */

#dashboard-container {

    margin-top: 130px;

}
#dashboard-container h2{

    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;

}
#dashboard-container h3{

    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;

}
#dashboard-container p{

    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;

}
.dashboard-border {

    border: 1px solid #d1d1d1;
    height: 150px;
    padding-top: 40px;

}
.dashboard-search {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    max-width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
}
.dashboard-search-button {

    background-color: #6255a5;
    width: 117px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}
.dashboard-search-button:hover {

    background-color: #4f4294;
    color: #fff;

}
.select-month {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    max-width: fit-content;
    height: 50px;
    border: 1px solid #d1d1d1;

}


#published-container {

    padding-top: 50px;
    padding-bottom: 50px;

}
#published-container h3 {

    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;

}
#published-container .table th {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;

}
#published-container .table td {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;

}
#published-container .table th a {
    text-decoration: none;
    color: black;
}

#published-container .table td a {
    text-decoration: none;
    color: black;
}
.table-border {

    border: 1px solid #d1d1d1;

}
.shadow-on-hover tr:hover {

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

}
.title-color {

    color: #6255a5 !important;

}





/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white !important;
    background-color: #6255a5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#unpublish-popup-container {
    padding: 20px 30px 20px 30px;
}

#unpublish-popup-container h2 {
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
}

#unpublish-comments {
    height: 100px;
    text-align: center;
}