body, html {
    height: 100%;
}

/* ====================
    Manage Administrator
   ==================== */

#manage-administrator-container {

    margin-top: 130px;

}
#manage-administrator-container h2{

    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;

}
.add-administrator-button {

    background-color: #6255a5;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;

}
.add-administrator-button:hover {

    background-color: #4f4294;
    color: #fff;

}
.add-administrator-search {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    max-width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
}
.add-administrator-search-button {

    background-color: #6255a5;
    width: 117px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}
.add-administrator-search-button:hover {

    background-color: #4f4294;
    color: #fff;

}

#manage-administrator-container .table th {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;

}
#manage-administrator-container .table td {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;

}
#manage-administrator-container .table th a {

    text-decoration: none;
    color: black;
}

#manage-administrator-container .table td a {

    text-decoration: none;
    color: black;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
.table-border {

    border: 1px solid #d1d1d1;

}
.shadow-on-hover tr:hover {

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

}
