body, html {
    height: 100%;
}

/* ====================
    Notes Under Review
   ==================== */

#notes-under-review-container {

    margin-top: 130px;

}
#notes-under-review-container h2{

    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;

}
.select-seller {

    width: 174px;
    height: 50px;
    border: 1px solid #d1d1d1;

}
.notes-under-review-search {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    max-width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
}
.notes-under-review-search-button {

    background-color: #6255a5;
    width: 117px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}
.notes-under-review-search-button:hover {

    background-color: #4f4294;
    color: #fff;

}

#notes-under-review-container .table th {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;

}
#notes-under-review-container .table td {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;

}
#notes-under-review-container .table th a {
    text-decoration: none;
    color: black;
}

#notes-under-review-container .table td a {
    text-decoration: none;
    color: black;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
.table-border {

    border: 1px solid #d1d1d1;

}
.shadow-on-hover tr:hover {

    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);

}
.label-color {

    color: #6255a5 !important;

}





/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white !important;
    background-color: #6255a5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#reject-popup-container {
    padding: 20px 30px 20px 30px;
}

#reject-popup-container h2 {
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
}

#reject-comments {
    height: 100px;
    text-align: center;
}