body, html {
    height: 100%;
}

/* ====================
        Note Details
   ==================== */

#note-details-container {

    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;

}
.note-details-padding {

    padding: 15px;
    
}
.note-details-padding img{

    width: inherit;
    max-width: 300px;
}
#note-details-container h4 {

    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;

}
#note-details-container h3 {

    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;

}
#note-details-container p {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;

}
.book-download-button {

    background-color: #6255a5;
    width: 204px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 22px;

}
.book-download-button:hover {

    background-color: #4f4294;
    color: #fff;

}
.left-list {

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;

}
.right-list {

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;

}
.yellow-star {

    color: rgb(254,193,6);

}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

#red-list-item {

    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #df3434;

}
#preview-review-container {

    padding-bottom: 30px;

}
#preview-review-container h4{

    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;

}


.responsive-wrapper {
    position: relative;
    height: 0;    /* gets height from padding-bottom */
    overflow: hidden;
    /* put following styles (necessary for overflow and 
       scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
      -webkit-overflow-scrolling: touch; 
                        overflow: auto; */
  }
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     
    border-style: none;
    padding: 0;
    margin: 0;
}
  
  /*
      css particular to this iframe
  */
  
#Iframe-Cicis-Menu-To-Go {
    max-width: 666.67px;
    max-height: 600px;
    overflow: hidden;
    border: 1px solid #d1d1d1;
}
  /*
     padding-bottom = h/w as %
  */
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
}

.customers-star-rating {

    height: 400px;
    overflow: scroll;

}

#grey-border {

    border: 1px solid #d1d1d1;
    padding: 0 30px;
    padding-top: 10px;

}
#preview-review-container h5 {

    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #333333;
    margin: 0;

}
#preview-review-container p {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;

}
.grey-border-bottom {

    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;

}
.grey-border-bottom a{

    text-decoration: none;
    color: black;

}
abbr[title] {

    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;

}
.review-image {

    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #6255a5;

}

