@model NotesMarketPlace.Context.NoteTable

<h4>Dear @ViewBag.CurrentUserName,</h4>
<p>
    As this is paid notes - you need to play to seller <b>@Model.UserTable1.FirstName @Model.UserTable1.LastName</b> offline.
    We will send him an email that you want to download this note. He may contact you further for payment process completion.
    <br><br>
    In case, you have urgency,<br>
    Please contact us on +91 95377345959.
    <br><br>
    Once he receives the payment and acknowledge us - selected notes you can see over my downloads tab for download.
    <br><br>
    Have a good day.

</p>
