@{ 

    ViewBag.Title = "Search Notes";
    Layout = "~/Views/Shared/NavbarAfter.cshtml";

}
    <!-- User Profile Image -->
    <div class="container-fluid banner">

        <div class="row justify-content-center">

            <div id="search-notes-text">

                <h2>Search Notes</h2>

            </div>

        </div>

    </div>


    <div class="container" id="main-container">

        <!-- Search & Filters notes -->

        <div class="row">

            <div class="col">

                <h2>Search and Filters notes</h2>

            </div>

        </div>

        <div class="row" id="grey-bg">

            <div class="col-md-12 col-sm-12">
                <div class="active-blue-4 mb-4">
                    <input class="form-control input-in-grey-box" type="text" placeholder="Search notes here..." aria-label="Search">
                </div>
            </div>

            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select type</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select category</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select univercity</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select course</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select country</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-2 form-group">
                <select class="form-control input-in-grey-box" id="exampleFormControlSelect1">
                    <option>Select rating</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

        </div>

        <!-- Search & Filters notes End -->

        <br>

        <!-- Total Notes -->

        <div class="row">

            <div class="col">
                <h2>Total 18 notes</h2>
            </div>

        </div>


        <div class="row justify-content-center">

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">Computer Operating System - Final Exam Book With Paper Solution</h5>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <span class="reviews">100 reviews</span>


                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">Computer Science</h5>
                            <br>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>



                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">
                            <h5 class="card-title">Basic Computer Engineering Tech India Publication Series</h5>
                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>



                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">Computer Science Illuminated - Seventh Edition</h5>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <span class="reviews">100 reviews</span>
                    </div>


                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">The Principles of Computer Hardware- Oxford</h5>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>

                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">
                            <h5 class="card-title">The Computer Book</h5>
                            <br>
                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>

                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">Computer Operating System - Final Exam Book With Paper Solution</h5>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <span class="reviews">100 reviews</span>
                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">

                            <h5 class="card-title">Computer Science</h5>
                            <br>

                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>

                    </div>

                </div>

            </div>

            <div class="col-md-4" style="width: 15rem;">

                <div class="note-detail">

                    <img class="card-img-top" src="~/Content/FrontContent/images/Search/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="book-title">
                            <h5 class="card-title">Basic Computer Engineering Tech India Publication Series</h5>
                        </div>
                        <ul>
                            <li><i class="fa fa-university"></i>Univercity of California, US</li>
                            <li><i class="fa fa-book"></i>204 Pages</li>
                            <li><i class="fa fa-calendar"></i>Thu, Nov 26 2020</li>
                            <li><i class="fa fa-flag"></i><span class="red-text">5 Users marked this note as inappropriate</span></li>
                        </ul>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star yellow-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="reviews">100 reviews</span>

                    </div>

                </div>

            </div>

        </div>

        <!-- Pagination -->

        <div class="row justify-content-center">

            <div class="pagination">
                <a href="#"><i class="fa fa-angle-left"></i></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>

        </div>


    </div>